<!-- <div class="app-container">
  <header class="app-header">
    <h1>Dashboard Profile</h1>
  </header>

  <div class="app-content">
    <div class="main-content">
      <app-cv></app-cv>
    </div>
    <div class="chatbot-sidebar">
      <app-chatbot></app-chatbot>
    </div>
  </div>
 
</div> -->
<!-- Đặt chiều cao toàn bộ màn hình -->
<!-- <div class="container-fluid bg-dark text-white vh-100 overflow-hidden">
	<div class="row h-100">
	  <div class="col-12 col-lg-6 border-end border-secondary p-0">
		<div class="h-100 overflow-hidden">
		  <app-chatbot></app-chatbot>
		</div>
	  </div>
	  <div class="col-12 col-lg-6 p-0">
		<div class="h-100 overflow-auto">
		  <app-cv></app-cv>
		</div>
	  </div>
	</div>
  </div> -->
<portfolio></portfolio>
  